<div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">Магазин</h4>
                <p class="text-muted">
                    Добро пожаловать в наш магазин, где мы предлагаем тщательно
                    отобранный ассортимент техники, периферии и канцелярских
                    товаров! У нас вы найдете только самые необходимые и
                    качественные товары, которые помогут вам в работе и учебе.
                    Мы стремимся предоставить нашим клиентам лучший сервис и
                    индивидуальный подход. Заходите к нам за надежными решениями
                    для вашего офиса или учебного пространства!
                </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Навигация</h4>
                <ul class="list-unstyled">
                    <li>
                        <a
                            href="{% url 'catalog:product_list' %}"
                            class="text-white"
                            >Главная</a
                        >
                    </li>
                    <li>
                        <a
                            href="{% url 'catalog:product_create' %}"
                            class="text-white"
                            >Добавить товары</a
                        >
                    </li>
                    <li>
                        <a href="#" class="text-white">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center"> </a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarHeader"
            aria-controls="navbarHeader"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
